:root {
  --color-text-dark: #202020;
  --color-text-light: white;

  --color-primary: #b03d32;
  --color-primary-light: rgba(219, 76, 64, 0.4);
  --color-secondary: #fafafa;
  --color-background: white;

  --font-size-h1: 20px;
  --font-size-h2: 18px;
}