$color-text-dark: #202020;
$color-text-light: white;

$color-primary: #db4c3f;
$color-primary-light: rgb(226, 112, 101);
$color-primary-dark: #b03d32;

$color-secondary: #e5e5e5;
$color-secondary-light: #fafafa;
$color-secondary-dark: #c7c6c1;
$color-secondary-darker: grey;

$color-white: white;

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;