<h1>
  <%= @project.name %>
</h1>

<%= turbo_frame_tag "tasks" do %>
  <%#= render "quotes/empty_state" %>
  <%= render @project.tasks %>
<% end %>
</div>

<%= render 'new_task_link', project_id: @project.id %>
