.btn {
  border: none;
  font-size: 13px;
  font-weight: 600;
  height: 32px;
  padding: 0 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &--submit {
    margin-left: 12px;
    background-color: var(--color-primary);
    color: var(--color-text-light);

    &:hover {
      background-color: var(--color-primary-dark);
    }

    &:disabled {
      background-color: var(--color-primary-light);
    }
  }

  &--cancel {
    background-color: var(--color-secondary-light);

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}