.btn {
  border: none;
  font-size: 13px;
  font-weight: 600;
  height: 32px;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &--icon {
    padding: 0;
    height: 28px;
    width: 28px;
    justify-content: center;
    border-radius: 3px;
  }

  &--submit {
    margin-left: 12px;
    background-color: $color-primary;
    color: $color-text-light;

    &:hover {
      background-color: $color-primary-dark;
    }

    &:disabled {
      background-color: $color-primary-light;
      opacity: 0.4;
    }
  }

  &--cancel {
    background-color: $color-secondary-light;

    &:hover {
      background-color: $color-secondary;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}