.menu {
  background-color: $color-secondary-light;
  width: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: all 0.2s;
  padding: 10px;

  &.open {
    min-width: 285px;
    transform: translateX(0);
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 265px;
  }

  &__list-item {
    position: relative;
    font-size: 14px;
    height: 34px;
    cursor: pointer;
    border-radius: 3px;
    overflow: hidden;

    &:hover,
    .active {
      background-color: $color-secondary;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding-top: 9px;
      padding-left: 35px;
      border: 1px solid transparent;

      &:focus {
        border: 1px solid $color-primary;
      }
    }

    .project-icon {
      position: absolute;
      top: 12px;
      left: 12.5px;
      width: 12px;
      height: 12px;
    }

    .inbox-icon {
      position: absolute;
      top: 8.5px;
      left: 9px;
      width: 17px;
      height: 17px;
      margin-left: 1px;
    }

    .today-icon {
      position: absolute;
      top: 8.5px;
      left: 9.5px;
    }

    .day-number {
      position: absolute;
      top: 10.5px;
      left: 9.8px;
      font-weight: bold;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 16px;
      width: 16px;
      color: #058527;
    }

    .quantity {
      position: absolute;
      top: 11px;
      right: 14px;
      font-size: 12px;
      color: $color-secondary-darker;
      user-select: none;
    }
  }

  @include media($large) {
    padding-top: 30px;
  }
}