.picker {
  position: relative;

  &__body {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;

    &.show {
      opacity: 1
    }
  }
}

.date-picker {
  width: 250px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .08), 0 0 1px 0 rgba(0, 0, 0, .3);

  .suggestion {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 32px;
    cursor: pointer;
    font-size: 13px;

    &:hover {
      background-color: $color-secondary-light;
    }

    svg {
      margin-right: 10px;
    }

    .weekday {
      color: $color-secondary-darker;
      margin-left: auto;
    }
  }


  .calendar {
    position: relative;
    padding: 8px 3px 4px;
    border-top: 1px solid $color-secondary;

    &__title {
      font-size: 13px;
      font-weight: bold;
      margin: 0 0 7px 7px;
    }

    &__actions {
      position: absolute;
      top: 3px;
      right: 9px;
      z-index: 10;
      display: flex;
      transition: all 0.1s;

      button {
        height: 24px;
        width: 24px;
        color: $color-secondary-darker;
        border-radius: 3px;

        &:hover:not([disabled]) {
          background-color: $color-secondary;
          color: $color-black;
        }

        &:disabled {
          color: $color-secondary-dark;
        }

        &:nth-of-type(2) {
          margin: 0 11px;
        }
      }
    }

    &__week-days {
      display: flex;
      justify-content: space-around;
      color: $color-secondary-dark;
      font-size: 10px;
      height: 24px;

      span {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__month {
      display: flex;
      flex-wrap: wrap;

      button {
        width: 24px;
        height: 24px;
        margin: 4px 5.428px;
        border-radius: 50%;
        font-size: 12px;
        transition: all 0.1s;

        &.active,
        &:hover:not([disabled]) {
          background-color: $color-primary;
          color: $color-white;
        }
      }
    }
  }

}