.task-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  &__content-input {
    display: block;
    padding: 0px 10px 40px;
    min-width: 100%;
    height: 81px;
    border: 1px solid $color-secondary;
    border-radius: 5px;
    margin-bottom: 12px;

    &:focus,
    &:active {
      outline: none;
      border-color: $color-secondary-dark;
    }
  }

  .pickers {
    position: absolute;
    bottom: 54px;
    left: 10px;
    display: flex;

    &:first-child {
      margin-right: 10px;
    }
  }

  .btn--cancel {
    margin-left: auto;
  }

}