.today {
  .task {
    .task__target-date {
      display: none;
    }
  }
}

.project {
  .task {
    .task__project-link {
      display: none;
    }
  }
}

.task {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 40px;
  padding: 8px 0;
  font-size: 12px;
  border-bottom: 1px solid $color-secondary;

  &:hover {
    .task__btn {
      display: block;
    }
  }

  &--completed {
    .task__checkbox {
      background-color: $color-secondary-darker;
      color: $color-text-light  !important;
    }

    .task__content {
      text-decoration: line-through;
      color: $color-secondary-darker;
    }
  }

  &--scheduled {
    height: 56px;

    .task__target-date {
      position: absolute;
      display: block;
      bottom: 7px;
      left: 30px;
      z-index: 2;
      color: $color-secondary-darker;

      &--overdue {
        color: $color-primary-dark;
      }
    }
  }

  &__checkbox {
    margin-right: 10px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid $color-secondary-darker;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    transition: all 0.2s;

    &--completed {
      background-color: black;
    }

    &:hover {
      color: $color-secondary-darker;
    }
  }

  &__content {
    flex: 1;
    font-size: 14px;
    padding-top: 1px;
  }

  &__project-link {
    position: absolute;
    bottom: 8px;
    left: 30px;
    color: $color-secondary-darker;

    .icon {
      margin-right: 3px;

      &.project-icon {
        height: 8px;
        width: 8px;

      }

      &.inbox-icon {
        height: 12px;
        width: 12px;
        margin-bottom: -1.3px;

      }
    }
  }

  &__btn {
    display: none;
    height: 24px;
    width: 24px;
    border-radius: 3px;

    &:hover {
      background-color: $color-secondary;
    }

    .edit-icon {
      margin: 5px 0 0 5px;
    }
  }

  .button_to {
    display: inline-block;

    &:last-of-type {
      margin-left: 5px;
    }
  }
}