<li class="menu__list-item">
  <%= capture(&block) %>

  <%= active_link_to name, path, data: { turbo_frame: "_top" } %>

  <span class="quantity">
    <%= turbo_frame_tag "#{path}-size" do %>
      <%= quantity if quantity > 0 %>
    </span>
  <% end %>
</li>
