<nav class="appbar">
  <button>toggle</button>
  <button>home</button>
  <%= button_to "Logout", destroy_user_session_path, 
                          method: :delete,  data: { turbo: false } %>
</nav>
